body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #050505;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: blue;
    padding: 10px 0;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.projects-section {
    padding: 20px;
    background-color: white;
    color: black;
    text-align: center;
}
.home-section {
    padding: 20px;
    background-color: white;
    color: black;
    text-align: center;
}
.about-section {
    padding: 20px;
    background-color: blue;
    color: black;
    text-align: center;
}

.contact-section {
    padding: 20px;
    background-color: blue;
    color: black;
    text-align: center;
}

button  a {
    color: white;
    text-decoration: none;
}
button a:hover {
    color: blue;
}
.tools-section {
    padding: 20px;
    background-color: blue;
    color: black;
    text-align: center;
}